package <%= package_name %>.main

import <%= package_name %>.util.CURRENT_URL_1

@Suppress("unused")
class TabOneSessionNavHostFragment : BaseSessionNavHostFragment() {
    override val sessionName = "tab_one"
    override val startLocation = CURRENT_URL_1
}
