<resources xmlns:tools="http://schemas.android.com/tools">
    <style name="Theme.<%= name %>" parent="Theme.Material3.DayNight.NoActionBar">
        <item name="colorPrimary">@color/color_brand</item>
        <item name="colorPrimaryDark">@color/color_brand</item>
        <item name="colorAccent">@color/color_brand</item>
    </style>
</resources>
