package dev.hotwire.turbo.<%= name.downcase %>.util

private const val DEVELOPMENT_URL = "http://10.0.2.2:3000"
private const val PRODUCTION_URL  = "https://turbo-native-demo.glitch.me"

const val BASE_URL    = DEVELOPMENT_URL
const val CURRENT_URL = "$BASE_URL/"
const val SIGN_IN_URL = "$BASE_URL/signin"
