<resources>
    <string name="app_name"><%= name %></string>
    <string name="error_web_home">Error loading page</string>
    <string name="error_web_home_description">Pull-to-refresh to try again.</string>
    <string name="menu_progress">Loading…</string>
</resources>