<resources xmlns:tools="http://schemas.android.com/tools">
    <style name="Theme.<%= name %>" parent="Theme.Material3.DayNight.NoActionBar">
        <!-- Customize your theme here. -->
    </style>
</resources>
